<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Netease Music</title>
    {% load staticfiles %}
    <link href="{% static "music/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "music/css/font-awesome.min.css" %}" rel="stylesheet"/>
    <link href="{% static "music/css/site.min.css" %}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!--[if IE 9]>
    <script src="https://cdn.bootcss.com/geopattern/1.2.3/js/base64.min.js"></script>
    <script src="https://cdn.bootcss.com/geopattern/1.2.3/js/typedarray.min.js"></script>
  <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "music/image/apple-touch-icon.png" %}"/>
    <link rel="shortcut icon" href="{% static "music/image/favicon.ico" %}"/>
</head>
<body class="home-template">
<header class="site-header">
    <nav class="navbar navbar-static-top main-navbar" id="top">
        <div class="container">
            <div class="navbar-header"></div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/SilverW0o0W/Netease-music/"
                           onclick="_hmt.push(['_trackEvent', 'main-navbar', 'click', 'api'])" target="_blank">API</a>
                    </li>
                    <li><a href="http://www.silvercodingcat.com/"
                           onclick="_hmt.push(['_trackEvent', 'main-navbar', 'click', 'blog'])" target="_blank">博客</a>
                    </li>
                    <li><a href="http://www.bootcdn.cn/#about"
                           onclick="_hmt.push(['_trackEvent', 'main-navbar', 'click', 'about'])">关于</a></li>
                </ul>
            </nav>
        </div>
    </nav>
    <div class="container jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1>Netease Music</h1>
                <p>稳定、快速、免费的前端开源项目 CDN 加速服务<br/><span class="package-amount">支持歌曲，歌单url</span></p>
                <div class="search-wraper" role="search">
                    <div class="form-group">
                        <input class="form-control search clearable" placeholder="搜索链接" autocomplete="off" autofocus=""
                               tabindex="0" autocorrect="off" autocapitalize="off" spellcheck="false" id="url"/>
                        <i class="fa fa-search" id="search-button"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group packages" id="detail-list"></div>
</header>
<script type="text/javascript" src="{% static "music/js/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript" src="{% static "music/js/mustache.min.js" %}"></script>
<script>
    var _songTemplate = [
        '<form action="{% url 'basic:export_song_action' %}" method="POST" target="_blank">',
        '    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />',
        '    <input type="hidden" name="id" value="[[id]]" />',
        '    <a href="JavaScript:void(0)" class="package list-group-item">',
        '        <div class="row">',
        '           <div class="col-md-3"><h4 class="package-name"><i class="fa fa-music"></i> [[name]]</h4></div>',
        '           <div class="col-md-9 hidden-xs"><p class="package-description"><i class="fa fa-user"></i> [[artists]]</p></div>',
        '           <div class="package-extra-info col-md-9 col-md-offset-3 col-xs-12"><i class="fa fa-dot-circle-o"></i> [[album]]</div>',
        '        </div>',
        '    </a>',
        '</form>'
    ].join('');

    var _playlistTemplate = [
        '<form action="{% url 'basic:export_playlist_action' %}" method="POST" target="_blank">',
        '    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />',
        '    <input type="hidden" name="id" value="[[id]]" />',
        '    <a href="JavaScript:void(0)" class="package list-group-item">',
        '        <div class="row">',
        '           <div class="col-md-3"><h4 class="package-name"><i class="fa fa-th-list"></i> [[name]]</h4></div>',
        '           <div class="col-md-9 hidden-xs"><p class="package-description"><i class="fa fa-user"></i> [[creator]]</p></div>',
        '           <div class="package-extra-info col-md-9 col-md-offset-3 col-xs-12"><i class="fa fa-pie-chart"></i> [[count]]</div>',
        '        </div>',
        '    </a>',
        '</form>'
    ].join('');

    Mustache.tags = ['[[', ']]'];
    Mustache.parse(_songTemplate);
    Mustache.parse(_playlistTemplate);

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });

    $('#detail-list').on("click", "form", function () {
        this.submit();
    });

    function sendUrl() {
        var url = $("#url").val()
        $.post("{% url 'basic:detail_action' %}", {"url": url},
            function (data, status) {
                if (data.hasOwnProperty('song')) {
                    append_template = _songTemplate;
                    fillData = data['song'];
                } else if (data.hasOwnProperty('playlist')) {
                    append_template = _playlistTemplate;
                    fillData = data['playlist']
                }
                var htmlAfterRendered = Mustache.render(append_template, fillData);
                $('#detail-list').append(htmlAfterRendered)
                {#alert(htmlAfterRendered)#}
            });
    }

    $("#search-button").click(function () {
        sendUrl()
    });
    $("#url").keyup(function (e) {
        if (e.keyCode == 13) sendUrl()
    })

</script>
</body>
</html>